In [2]:
import pandas as pd
import numpy as np

In [16]:
from pymongo import MongoClient

In [17]:
client = MongoClient(port=27017)
db = client.news

In [3]:
df = pd.read_csv('OnlineNewsPopularity/OnlineNewsPopularity.csv')

In [4]:
df.head()

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,http://mashable.com/2013/01/07/amazon-instant-...,731.0,12.0,219.0,0.663594,1.0,0.815385,4.0,2.0,1.0,...,0.100000,0.7,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593
1,http://mashable.com/2013/01/07/ap-samsung-spon...,731.0,9.0,255.0,0.604743,1.0,0.791946,3.0,1.0,1.0,...,0.033333,0.7,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711
2,http://mashable.com/2013/01/07/apple-40-billio...,731.0,9.0,211.0,0.575130,1.0,0.663866,3.0,1.0,1.0,...,0.100000,1.0,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500
3,http://mashable.com/2013/01/07/astronaut-notre...,731.0,9.0,531.0,0.503788,1.0,0.665635,9.0,0.0,1.0,...,0.136364,0.8,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,1200
4,http://mashable.com/2013/01/07/att-u-verse-apps/,731.0,13.0,1072.0,0.415646,1.0,0.540890,19.0,19.0,20.0,...,0.033333,1.0,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505

In [5]:
df.columns

Index(['url', ' timedelta', ' n_tokens_title', ' n_tokens_content',
       ' n_unique_tokens', ' n_non_stop_words', ' n_non_stop_unique_tokens',
       ' num_hrefs', ' num_self_hrefs', ' num_imgs', ' num_videos',
       ' average_token_length', ' num_keywords', ' data_channel_is_lifestyle',
       ' data_channel_is_entertainment', ' data_channel_is_bus',
       ' data_channel_is_socmed', ' data_channel_is_tech',
       ' data_channel_is_world', ' kw_min_min', ' kw_max_min', ' kw_avg_min',
       ' kw_min_max', ' kw_max_max', ' kw_avg_max', ' kw_min_avg',
       ' kw_max_avg', ' kw_avg_avg', ' self_reference_min_shares',
       ' self_reference_max_shares', ' self_reference_avg_sharess',
       ' weekday_is_monday', ' weekday_is_tuesday', ' weekday_is_wednesday',
       ' weekday_is_thursday', ' weekday_is_friday', ' weekday_is_saturday',
       ' weekday_is_sunday', ' is_weekend', ' LDA_00', ' LDA_01', ' LDA_02',
       ' LDA_03', ' LDA_04', ' global_subjectivity',
       ' global_sentiment_polarity', ' global_rate_positive_words',
       ' global_rate_negative_words', ' rate_positive_words',
       ' rate_negative_words', ' avg_positive_polarity',
       ' min_positive_polarity', ' max_positive_polarity',
       ' avg_negative_polarity', ' min_negative_polarity',
       ' max_negative_polarity', ' title_subjectivity',
       ' title_sentiment_polarity', ' abs_title_subjectivity',
       ' abs_title_sentiment_polarity', ' shares'],
      dtype='object')

In [12]:
filedata = df[['url', ' data_channel_is_lifestyle',
       ' data_channel_is_entertainment', ' data_channel_is_bus',
       ' data_channel_is_socmed', ' data_channel_is_tech',
       ' data_channel_is_world',]]

In [13]:
filedata.head()

,url,data_channel_is_lifestyle,data_channel_is_entertainment,data_channel_is_bus,data_channel_is_socmed,data_channel_is_tech,data_channel_is_world
0,http://mashable.com/2013/01/07/amazon-instant-...,0.0,1.0,0.0,0.0,0.0,0.0
1,http://mashable.com/2013/01/07/ap-samsung-spon...,0.0,0.0,1.0,0.0,0.0,0.0
2,http://mashable.com/2013/01/07/apple-40-billio...,0.0,0.0,1.0,0.0,0.0,0.0
3,http://mashable.com/2013/01/07/astronaut-notre...,0.0,1.0,0.0,0.0,0.0,0.0
4,http://mashable.com/2013/01/07/att-u-verse-apps/,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
dataarray = np.array(filedata)[:6500]

In [24]:
result = db.articles.find_one({'url':dataarray[2,0]})

In [21]:
import pprint

In [28]:
# ' data_channel_is_lifestyle',
#        ' data_channel_is_entertainment', ' data_channel_is_bus',
#        ' data_channel_is_socmed', ' data_channel_is_tech',
#        ' data_channel_is_world'
for i in range(len(dataarray)):
    data = dataarray[i]
    url = data[0]
    label = ''
    if data[1] == 1:
        label = 'lifestyle'
    elif data[2] == 1:
        label = 'entertainment'
    elif data[3] == 1:
        label = 'business'
    elif data[4] == 1:
        label = 'socmed'
    elif data[5] == 1:
        label = 'tech'
    elif data[6] == 1:
        label = 'world'
    db.articles.find_and_modify(query={'url':url}, update={"$set":{'label':label}}, upsert=False, full_response=True)

/home/li/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:21: DeprecationWarning: find_and_modify is deprecated, use find_one_and_delete, find_one_and_replace, or find_one_and_update instead